@import "./mixin/mixin";
@import "./general/variables";
@import "./general/var-bs-modificadas";
@import "./general/breakpoints";
@import "./sections/body";
@import "./sections/header";
@import "./sections/main";
@import "./sections/footer";
@import "./media/imagenes";


