.inicio-h2{
    margin-top: 8vh;
    margin-bottom: 10vh;
    font-size: 14vw;
    text-align: center;
    line-height: 1.5em;
    color: $enlaces-general-white;
    text-shadow: 0px 0px 20px rgb(57, 168, 35);

 -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; 

  @include desktop{
    font-size:8vw;
  }

}
 @keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(33, 141, 33), 0 0 20px #fff, 0 0 30px #6bc759, 0 0 40px #51b86a, 0 0 50px #5ca187, 0 0 60px #47e6f1, 0 0 70px #3de09d;
  }
  to {
    text-shadow: 0 0 20px rgb(40, 77, 45), 0 0 30px #4dd5ff, 0 0 40px #4d5fff, 0 0 50px #1f9214, 0 0 60px #4dff88, 0 0 70px #4dff7a, 0 0 80px #0e0e0e;
  } 
} 

.img-carousel{
    height: auto;
    width: 90vw;
    border: 3px solid rgb(243, 250, 243);
    box-shadow: 0px 0px 10px rgb(109, 184, 109);
    border-radius: 10px;

    @include desktop{
      height: 86vh;
      width: auto;
    }
}

